#!env/bin/python

from Adafruit_DHT import AM2302, DHT11

SENSORS = [
				{
						'name': 'frag',
						'type': DHT11,
						'pin': 17
				},
				{
						'name': 'vent',
						'type': AM2302,
						'pin': 4
				}
]
